.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
	text-align: center;
	margin: 30px;
}
.container {
	height: 100%;
}

.row {
	justify-content: center;
	flex-wrap: nowrap;
	height: 50%;
}

.__bordered {
	border: black 1px solid;
	margin-top: 10px;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.exmp3 img {
	object-fit: cover;
	width: 100%;
	margin: 5px;
}

.__mainblock {
	display: flex;
	align-items: center;
}

.log_window {
	height: 300px;
	overflow-y: auto;
}

.form_button {
	cursor: pointer;
	text-align: center;
	border: black 1px solid;
	width: 100px;
	height: 30px;
}

.arrow-6 {
    margin: 20px;
}

.arrow-6 svg {
    width: 100px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
}

.arrow-6 svg polygon, 
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000000;
}
.arrow-6 svg:hover polygon, 
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000;
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
 
@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.main-container {
    width: 1320px;
    z-index: 1;
}
