<!doctype html>
<html>
	<head>
		<title>Main Door dashboard</title>		
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/jqbtk.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/hash-wasm"></script>
	</head>

	<body>
		<!-- SocketIO Script -->
		<script type="text/javascript">
			function getCurrentTime() {
				const today = new Date();
				const date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
				const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
				const dateTime = date + ' ' + time;
				return dateTime
			}

			// Hash md5 function
			function hashCode(str) {
				return str.split('').reduce((prevHash, currVal) =>
					(((prevHash << 5) - prevHash) + currVal.charCodeAt(0))|0, 0);
			}

			// Updating fields
			document.addEventListener("DOMContentLoaded", function() {
				const door_type = 'main_door'
				const socket = io.connect('http://127.0.0.1:5051');
				socket.on('connect', function() {
					console.log('User has connected!');
					socket.emit('server');
				});

				const user_name_element = document.getElementById("user_name")
				const age_element = document.getElementById("user_age")
				const access_level_element = document.getElementById("access_level")
				const pin_code_element = document.getElementById("user_pin_code")
				const log_window = document.getElementById("log_window")
				const log_messages_element = document.getElementById("log_messages")

				socket.on('update_dashboard_1', function(msg) {
					user_name_element.innerHTML = `Name: ${msg.current_name}`;
					age_element.innerHTML = `Age: ${msg.age}`;
					access_level_element.innerHTML = `Access level: ${msg.access_level}`;
					pin_code_element.innerHTML = `Pin code: ${msg.pin_code}`;
				});

				let employees_count = 0
				const organization_dashboard_element = document.getElementById("dashboard2_info");
				const organization_employees_count_element = document.getElementById("employees_count");
				socket.on('update_dashboard_2', function(employees_list) {
					employees_count = employees_list.length
					organization_dashboard_element.innerHTML = '';
					employees_list.forEach(function(employee) {
						const newLI = document.createElement('li');
						newLI.appendChild(document.createTextNode(`[In: ${employee.time_of_arrival}] ${employee.username}`));
						organization_dashboard_element.appendChild(newLI);
					});
					organization_employees_count_element.textContent = employees_count.toString();
				});

				socket.on('update_log', function(msg){
					let scroll_flag = false
					if (log_window.scrollHeight - log_window.scrollTop == log_window.offsetHeight) {
						scroll_flag = true
					}
					if (log_messages_element.childElementCount == 0) {
						const newLI = document.createElement('li');
						newLI.appendChild(document.createTextNode(`[${getCurrentTime()}] ${msg}`));
						log_messages_element.appendChild(newLI);
					} else {
						const lastChildMsg = log_messages_element.lastElementChild.innerHTML;
						if (!lastChildMsg.includes(msg)){
							const newLI = document.createElement('li');
							newLI.appendChild(document.createTextNode(`[${getCurrentTime()}] ${msg}`));
							log_messages_element.appendChild(newLI);
						}
					}
					if (scroll_flag) {
						log_window.scrollTop = log_window.scrollHeight;
					}
					
				});

				socket.on('send_success_message', function(username) {
					alert('Дверь была успешно открыта!')
				});

				socket.on('send_fail_message', function(error) {
					alert(`Не удалось открыть дверь! Причина: ${error}`)
				});

			// Send pin code from data to server
			const pin_code_form_input = document.getElementById("pin_code_from")
			const pin_code_form_button = document.getElementById("pin_code_form_button")
			pin_code_form_button.onclick = async function (data) {
				data = {
					"pin_code": await hashwasm.md5(pin_code_form_input.value),
					"door": door_type
				}
				socket.emit('form_data', data);
			};
			});
		</script>
		
		<main role="main">
			<div class="container" id="dashboard-container">
				<div class="row" id="door-row">
					<div class="col-6 __bordered">
						<h2>pin_code_form></h2>
						<form>
							<p><input type="tel" class="keyboard form-control" id="pin_code_from"></p>
							<script>
								// Render keyboard
								$(function(){
									$('#pin_code_from').keyboard();
								});
							</script>
							<p><div id="pin_code_form_button">Send</div></p>
							<script>
							</script>
						</form>
					</div>
					<div class="col-6 __bordered __mainblock exmp3" id="camera_feed">
						<img id="img" src = "{{ url_for('video_feed') }}">
					</div>
				</div>

				<div class="row">
					<div class="col-6 __bordered">
						<h2>Some dashboard 1</h2>
						<div id="dashboard1_feed">
							<ul id="dashboard_info">
								<p>Now on camera:</p>
								<li id="user_name"></li>
								<li id="user_age"></li>
								<li id="access_level"></li>
								<li id="user_pin_code"></li>
							</ul>
						</div>
					</div>
					<div class="col-6 __bordered">
						<h2>Some dashboard 2</h2>
                        <div id="dashboard2_feed" class="row">
							<ul id="dashboard2_info" class="col-6">
								<h4>Now in organization:</h4>
							</ul>
							<div id="dashboard2_right_side" class="col-6">
								<h4>Employees count</h4>
								<p id="employees_count"></p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 __bordered">
						<h2>Log</h2>
						<div class="log_window" id="log_window">
						<ul id="log_messages">
						</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
		<script src="/js/jqbtk.min.js"></script>
	</body>
</html>

